html{font-size: 62.5%}
body {
    max-width: 768px;
    margin: 0 auto;
}
html,body {
	height: 100%;
  }
.background-color{
	background-color: #68cdd5;
	overflow: hidden;
	height: 100%;
}
img {width:100%}
.top{
	width:3rem;
    padding: 1rem;
}
.center {
	margin: 6rem auto;
	width: 10rem;
}
.text {
	font-size: 1.2rem;
    font-family: "HiraginoSansGB";
    color: #ffffff;
	margin:6rem 16% 6rem 16%;
}
.left {
	float: left;
	margin-left:16%;
	width:3rem;
}
.right {
	float: right;
	margin-right:16%;
    width:3rem;
}
.number{font-size: 1.2rem;
    font-family: "HiraginoSansGB";
    color: #ffffff;
    margin-left: -1.2rem;
}