html {
    font-size: 62.5%;
}
.care-worker-detail{
    max-width: 768px;
    margin: 0 auto;
}
.icon{
    display: inline-block;
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
}
.icon-arrow-left{
    width: 1rem;
    height: 2rem;
    background-image: url(i/5_back.png);
}
.backbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 4rem;
    padding: 0 2rem;
    background-color: #5fc0cd;
    color: #fff;
}
.title{
    font-size: 1.8rem;
}
.text-center{
    text-align: center;
}
.head-thumb{
    width: 8.5rem;
    height: 8.5rem;
}
.block{
    height: 17rem;
    background-image: url(i/5_background.png);
}
.block-content{
    display: flex;
    align-items: center;
    margin: 4rem 0 4rem 1.5rem;
}
.info{
    margin: 0 0 0 2rem;
}