html{
    font-size: 62.5%;
}
body{
    margin: 0;
}
img{
    height: 100%;
}
.wrap{
    max-width: 768px;
    margin: 0 auto;
}
header{
    position: relative;
    background-color: #5fc0cd;
    height: 4rem;
}
a.back{
    position: absolute;top:50%;left: 1.5rem;
    transform: translate(0,-50%);
    height: 2rem;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;
    font-family: "STHeitiSC";
    color: #ffffff;
      
}
footer{
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
}
.introdution{
    background-image:url(i/background.png);
    background-size: cover;
}
.circle{
    width:8.5rem;
}