body{
    background-color: #29bde0;
}
.home{
    width: 26px;
    height: 21px;
}
.about{
    width: 20px;
    height: 20px;
}
.navbar-text{
    font-size: 17px;
    font-family: HiraginoSansGB-W3;
    color: #fff;
}
.nav{
    align-items: flex-end;
    height: 48px;
}