body {
    font-family: Arial, "Times New Roman", "Microsoft YaHei", SimSun, SimHei;
}

img {
    max-width: 100%;
    height: auto;
}

.cursor {
    cursor: pointer;
}

/*咨询电话*/
.tel-word {
    float: left;
    line-height: 40px;
    color: #333;
}

/*第一行小图标*/
.img-wrap {
    line-height: 40px;
    text-align: right;
}

.mobile-img {
    background: url(i/8-mobile.png) 0 0/100% no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.weixin-img {
    background: url(i/8-weixin.png) 0 0/100% no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.weibo-img {
    background: url(i/8-weibo.png) 0 0/100% no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.mobile-img,
.weixin-img,
.weibo-img {
    margin-right: 22px;
    position: relative;
    top: 7px;
}

/*导航栏*/
.navbar,
.header-nav-wrap {
    background: #29b078;
    height: auto;
}

.navbar-brand {
    max-width: 300px;
    margin-top: 0;
}

/* “首页”样式 */
.navbar-dark .navbar-nav>li>a {
    display: block;
    height: 97px;
    padding: 0;
    font-size: 20px;
    line-height: 93px;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #29b078;
    text-decoration: none;
    cursor: pointer;
}

/*转换按钮*/
.navbar-btn {
    background: #47d197;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* hover样式*/
.navbar-dark .navbar-nav>li>a:hover {
    border-bottom: 4px solid white;
    color: #fff;
    background: #29b078;
}

/* 首页active 样式*/
.navbar-dark .navbar-nav .nav-link.active {
    border-bottom: 4px solid white;
    color: #fff;
    background: #29b078;
}

/*小于767px时*/
@media only screen and (max-width: 767px) {
    .navbar-btn {
        border: 0;
    }

    .navbar .navbar-toggler:hover,
    .navbar .navbar-toggler:active {
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar-brand {
        max-width: 200px;
        padding: 0;
        margin: 10px;
        height: 34px;
    }

    .navbar-brand img {
        width: auto;
        height: 100%;
    }

    .navbar-dark .navbar-nav>li a {
        height: 40px;
        margin: 0;
        padding: 0;
        line-height: 40px;
        color: #fff;
        background: #29b078;
        opacity: 0.9;
        z-index: 9999;
    }

    /*不要下边框*/
    .navbar-dark .navbar-nav>li>a:focus,
    .navbar-dark .navbar-nav>li>a:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #fff;
        background: #38c58a;
        border: none;
    }
}

/*在768px到992px时*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-brand {
        max-width: 217px;
    }

    .navbar-dark .navbar-nav>li>a {
        height: 68px;
        line-height: 72px;
    }
}


/*轮播下大图标*/
.home-tag {
    padding: 60px 0 58px 0;
    text-align: center;
    height: 312px;
}

.home-tag-icon {
    height: 70px;
}

.home-tag-help {
    /* 让图片垂直居中的hack */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.home-tag p {
    font-size: 16px;
    color: #999999;
    text-align: center;
}

.home-num {
    margin: 60px 15px 58px 0px;
    border-left: dashed 2px #dedede;
    text-align: center;
    font-size: 16px;
    color: #999999;
    height: 194px;
}
/*小于等于768px左边框隐藏*/
@media screen and (max-width: 768px) {
    .home-num {
        border-left: none;
    }
}

.home-num .text-num {
    font-size: 18px;
    color: #26a26f;
    padding-top: 20px;
}

.icon-user::before {
    display: inline-block;
    content: "";
    background: url(i/8-user.png) 0 0/100% no-repeat;
    width: 13px;
    height: 13px;
}

.home-section-title {
    text-align: center;
    margin: 25px 0;
}

.home-section-content {
    padding: 40px 0;
    height: 176px;
}

.step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(8, 1, 3, 0.15);
    text-align: center;
    vertical-align: middle;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #29b078;
}
/*flex：1；*/
.step-text {
    flex: 1;
    font-size: 16px;
    letter-spacing: 1px;
    color: #999999;
}

.icon-next {
    width: 28px;
    height: 26px;
}

@media screen and (min-width:769px) and (max-width:992px) {
    .even {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .icon-next {
        display: none;
    }

    .step-text {
        font-size: 20px
    }
}

.home-section-student {
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 25px;
}
/*hover效果*/
.home-section-student:hover {
    border: solid #00bb78 1px;
    cursor: pointer;
}

.home-section-student>img {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-top: 25px;
    cursor: pointer;
}

.home-section-student h4 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}

.home-section-student p {
    margin-bottom: 20px;
    padding: 0 30px;
    min-height: 100px;
    color: #999999;
    font-size: 16px;
}
/*下移指示器*/
.carousel-indicators {
    margin-bottom: -25px;
}
/*指示器样式*/
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(8, 1, 3, 0.15);
}

.carousel-indicators .active {
    background-color: #29b078;
}
/*图片hover效果*/
.logo-hover:hover {
    box-shadow: 0 4px 10px #aaa;
}

.img-height {
    height: 100px;
    line-height: 100px;
}
/*一行平均显示五个*/
@media (min-width: 768px) {
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}

.friendly-link a {
    color: #999999;
}

.friendly-link {
    font-size: 14px;
    color: #999999;
}

.friendly-link a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px 0;
    background: #55a877;
    color: #ffffff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer img {
    width: 92px;
}

.copyright {
    background: #55a877;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
/*第二页职业样式*/
.content {
    margin: 25px 0;
    padding: 15px 15px 25px 15px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    background: #ffffff;
    zoom: 1;
}
.btn-anchor {
    color: #000;
    background: #ffffff;
}
/*卡片样式*/
.hall-card {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #edf1f2;
    table-layout: fixed;
    height: 472px;
    cursor: pointer;
}

.hall-card tr {
    border-bottom: 1px solid #edf1f2;
}

.hall-card td {
    padding: 10px;
    min-height: 65px;
    color: #999999;
    font-size: 12px;
    /*vertical-align: top;*/
    border-right: 1px solid #edf1f2;
}

.hall-card .thumb {
    float: left;
    margin-right: 15px;
    max-width: 138px;
}

.hall-card h4,
.hall-card p {
    color: #333;
}

.hall-card h4 {
    margin-top: 10px;
    font-size: 1rem;
}

.hall-card span {
    color: #ff5b00;
}
/*hover 阴影效果*/
.hall {
    position: relative;
    overflow: hidden;
}

.hall-text {
    display: flex;
    align-items: center;
    text-align: justify;
    position: absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: calc(100% - 20px);
    background-color: rgba(8,1,3,0.5);
    transition: width 500ms;
    -webkit-transition: left 500ms;
    /* Safari */
    color: #fff;
    padding: 35px;
}
.hall:hover .hall-text{
    left: 0;
}
h5 a{
    text-decoration: none;
    color: #000;
}
/*第三页样式开始*/
.sidebar {
    margin: 25px 0;
    padding: 25px 0;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    background: #fff;
}
.select{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #ff5c00;
    border-radius: 50%;
}
.nav li a span{
    vertical-align: middle;
}
.sidebar p{
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}
.sidebar .nav{
    display: block;
}
.sidebar .nav li{
    padding: 10px 15px;
}
.nav li a {
    color: #29b078;
    cursor: pointer;
    padding-left: calc(100%/2 - 48px);
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #ff5c00;
}
.nav > li > a:focus .select,
.nav > li > a:hover .select{
    background-color: #ff5c00;
}
.thumb{
    float: left;
    padding: 25px;
    max-width: 183px;
}
.content-header{
    border: 1px solid #e6e6e6;
    padding: 25px;
}
.content-header p{
    color: #999999;
}
.top-rounded{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 25px;
}
.bottom-rounded{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}