body{
       margin: 0; background-color: #eff0f4
   }
   .top{
       position: relative;
       background-color: #5fc0cd;
       width:100%;
       height: 88px;
   }
   .left{
       position: absolute;top:50%;left:4%;
       transform: translate(0,-50%);
       font-size: 32px;
       font-family: "STHeitiSC";
       color: rgb(255, 255, 255);
       line-height: 0.351;
   }
   .right{
       position: absolute;top:50%;right:4%;
       transform: translate(0,-50%);
       font-size: 32px;
       font-family: "STHeitiSC";
       color: rgb(255, 255, 255);
       line-height: 0.351;
   }
   .center{
       position: absolute;top: 50%;left: 50%;
       transform: translate(-50%,-50%);
       font-size: 36px;
       font-family: "STHeitiSC";
       color: rgb(255, 255, 255);
       line-height: 0.312;
   }
   .input{
       display: inline-flex;
       display: -webkit-inline-flex;
       align-items: center;
       width:100%;
       background-color: #ffffff;
       margin: 20px 0 0 0;
   }
    input{
        flex-grow: 1;
        align-self:stretch;
        border: 0;
		outline:none;
        font-size: 40px;    
    }
    img{
        margin: 5%;
    }
    .submit{
        background-color: #5fc0cd;
        width: 100%;
        height: 88px;
        border: 0;
        margin:20px 0 ;
        font-size: 36px;
        font-family: "STHeitiSC";
        color: rgb(255, 255, 255);
        line-height: 0.312;
        letter-spacing: 10px;
    }
    a{
        font-size: 32px;
        font-family: "STHeitiSC";
        color: rgb(95, 192, 205);
        line-height: 0.351;
        float: right;
    }
    input::-webkit-input-placeholder{
        font-size: 32px;
        font-family: "STHeitiSC";
        color: rgb(225, 229, 231);
    }
    input:-moz-placeholder{
        font-size: 32px;
        font-family: "STHeitiSC";
        color: rgb(225, 229, 231);
    }
    input::-moz-placeholder{
        font-size: 32px;
        font-family: "STHeitiSC";
        color: rgb(225, 229, 231);
    }
    input::-ms-input-placeholder{
        font-size: 32px;
        font-family: "STHeitiSC";
        color: rgb(225, 229, 231);
    }