* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0 15px 0 15px;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    font-family: sans-serif;
    line-height: 25px;
}

/*for mobile phones: */
[class*="col-"] {
    width: 100%;
}

/*for tablets: */
@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/*for desktop: */
@media only screen and (min-width: 992px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

.d-none {
    display: none;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block;
    }
}

/*咨询电话*/
.tel-word {
    float: left;
    line-height: 40px;
    color: #333;
}

/*第一行小图标*/
.img-wrap {
    line-height: 40px;
    text-align: right;
}

.mobile-img {
    background: url(../i/8-mobile.png) 0 0/100% no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.weixin-img {
    background: url(../i/8-weixin.png) 0 0/100% no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.weibo-img {
    background: url(../i/8-weibo.png) 0 0/100% no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.mobile-img,
.weixin-img,
.weibo-img {
    margin-right: 22px;
    position: relative;
    top: 7px;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-29 {
    background-color: #26a26f;
}
.bg-white {
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
a{text-decoration: none;}

@media (min-width: 768px) {
    li {
        float: right;
        line-height: 70px;
    }

    li a:hover,
    .active {
        border-bottom: 3px solid #fff;
    }
}
.banner img{
    width: calc(100% / 3);
}
.banner{
    width: 100%;
    padding-bottom: 31.25%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.long{
    position: absolute;
    left: 0;
    width: calc(100% * 3);
    font-size: 0;
    -webkit-animation: banner 10s infinite;
}
@-webkit-keyframes banner {
    0%,25%{
        left: 0;
    }
    35%,60%{
        left: calc(-100%);
    }
    75%, 100%{
        left: calc(-100% * 2);
    }

}
.img-index{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
.img-index li{
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 16px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 50%;
}
.one{
    background-color: #000;
    color: #fff;
    -webkit-animation: one 10s infinite;
}
.two{
    -webkit-animation: two 10s infinite;
}
.three{
    -webkit-animation: three 10s infinite;
}
@-webkit-keyframes one {
    30%,40%,50%,60%,70%,80%,90%,100%{ background-color: #fff; color: #000000;}
    0%,25%{ background-color: #29b078;color: #ffffff;}
  }
  @-webkit-keyframes two {
    0%,10%,25%,70%,80%,90%,100%{ background-color: #fff; color: #000000;}
    35%,60%{ background-color: #29b078;color: #ffffff;}
  }
  @-webkit-keyframes three {
    0%,10%,20%,30%,40%,50%,60%{ background-color: #fff; color: #000000;}
    75%,100%{ background-color: #29b078;color: #ffffff;}
  }
/*轮播下大图标*/
.home-tag {
    padding: 60px 0 58px 0;
    text-align: center;
    height: 312px;
}

.home-tag-icon {
    height: 70px;
}

.home-tag-help {
    /* 让图片垂直居中的hack */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.home-tag p {
    font-size: 16px;
    color: #999999;
    text-align: center;
}

.home-num {
    margin: 60px 15px 58px 0px;
    border-left: dashed 2px #dedede;
    text-align: center;
    font-size: 16px;
    color: #999999;
    height: 194px;
}
/*小于等于768px左边框隐藏*/
@media (max-width: 768px) {
    .home-num {
        border-left: none;
    }
}

.home-num .text-num {
    font-size: 18px;
    color: #26a26f;
    padding-top: 20px;
}

.icon-user::before {
    display: inline-block;
    content: "";
    background: url(../i/8-user.png) 0 0/100% no-repeat;
    width: 13px;
    height: 13px;
}
.home-section-title {
    text-align: center;
    margin: 25px 0;
}

.home-section-content {
    padding: 40px 0;
    height: 176px;
}

.step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(8, 1, 3, 0.15);
    text-align: center;
    vertical-align: middle;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #29b078;
}
/*flex：1；*/
.step-text {
    flex: 1;
    font-size: 16px;
    letter-spacing: 1px;
    color: #999999;
}

.icon-next {
    width: 28px;
    height: 26px;
}

@media screen and (max-width:992px) {
    .icon-next {
        display: none;
    }

    .step-text {
        font-size: 20px
    }
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.mr-3{
    margin-right: 15px;
}
.text-left{
    text-align: left;
}
.text-right{text-align: right;}
.border-right-0{
    border-right: none!important;
}
.text-center{text-align: center;}
.home-section-student {
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 25px;
}
/*hover效果*/
.home-section-student:hover {
    border: solid #00bb78 1px;
    cursor: pointer;
}

.home-section-student>img {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-top: 25px;
    cursor: pointer;
}

.home-section-student h4 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}

.home-section-student p {
    margin-bottom: 20px;
    padding: 0 30px;
    min-height: 100px;
    color: #999999;
    font-size: 16px;
}
/*图片hover效果*/
.logo-hover:hover {
    box-shadow: 0 4px 10px #aaa;
}

.img-height {
    height: 100px;
    line-height: 150px;
}
/*一行平均显示五个*/
@media (min-width: 992px) {
    .col-md-20 {
        width: 20%;
    }
}
.tc{text-align: center;}

.friendly-link a {
    color: #999999;
}

.friendly-link {
    font-size: 14px;
    color: #999999;
}

.friendly-link a:hover {
    text-decoration: underline;
}
@media(max-width: 768px){
    .ml{
       padding-left: 40%;
    }
}
footer {
    padding: 20px 0;
    background: #55a877;
    color: #ffffff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer img {
    width: 92px;
}

.copyright {
    background: #55a877;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
/*第二页职业样式*/
table
{
    border-collapse:collapse;
}
.content {
    margin: 25px 0;
    padding: 15px 15px 25px 15px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    background: #ffffff;
    zoom: 1;
}
.btn-anchor {
    color: #000;
    background: #ffffff;
}
/*卡片样式*/
.hall-card {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #edf1f2;
    table-layout: fixed;
    height: 472px;
    cursor: pointer;
}

.hall-card tr {
    border-bottom: 1px solid #edf1f2;
}

.hall-card td {
    padding: 10px;
    min-height: 65px;
    color: #999999;
    font-size: 12px;
    /*vertical-align: top;*/
    border-right: 1px solid #edf1f2;
}

.hall-card .thumb {
    float: left;
    margin-right: 15px;
    max-width: 138px;
}

.hall-card h4,
.hall-card p {
    color: #333;
}

.hall-card h4 {
    margin-top: 10px;
    font-size: 1rem;
}

.hall-card span {
    color: #ff5b00;
}
/*hover 阴影效果*/
.hall {
    position: relative;
    overflow: hidden;
}

.hall-text {
    display: flex;
    align-items: center;
    text-align: justify;
    position: absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: calc(100% - 20px);
    background-color: rgba(8,1,3,0.5);
    transition: width 500ms;
    -webkit-transition: left 500ms;
    /* Safari */
    color: #fff;
    padding: 35px;
}
.hall:hover .hall-text{
    left: 0;
}
h5 a{
    text-decoration: none;
    color: #000;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26a26f;
}

ul.topnav li {
    float: right;
    line-height: 70px;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #26a26f;
}

ul.topnav li a.active {
    background-color: #26a26f;
    border-bottom: 3px solid #fff;
}

.menu {
    display: none;
    overflow: hidden;
    background-color: #26a26f;
    padding: 15px;
}
@media screen and (max-width: 768px) {

    ul.topnav li {
        float: none;
       line-height: 30px;
    }

    ul {
        display: none;
    }
    .menu{
        display: block;
    }
    ul.topnav li a.active {
    background-color: #227a56;
    border-bottom: 3px solid transparent;
}
    .col-6{width: 100%;}
}

.toggle {
    box-sizing: content-box;
    display: inline-block;
    float: right;
    width: 30px;
    height: 5px;
    padding: 10px 0;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background-color: #fff;
    background-clip: content-box;
}
input[type="checkbox"] {
position: absolute;
clip: rect(0, 0, 0, 0);
}
input[type="checkbox"]:checked~ul {
    display: block;
}