@mixin hpct100 {
    height: 100%;
}
@mixin m0 {
    margin: 0;
}
html{
    @include hpct100;
}
body,p{
    @include m0;
    @include hpct100;
}
$h44: 44px;
$bg5f: #5fc0cd;
@mixin pure-color($h44,$bg5f) {
    width: 100%;
    height: $h44;
    background-color: $bg5f;
}
@mixin dfc {
    display: flex;
    align-items: center
}
@mixin px15 {
    padding-left: 15px;
    padding-right: 15px;
}
@mixin between {
    justify-content: space-between;
}
header{
    @include pure-color($h44, $bg5f);
    @include dfc();
    @include px15();
    @include between();
    color: #fff;
    box-sizing: border-box;
}
@mixin bgwh {
    background-color: #fff;
}
.full-page{
    @include bgwh();
    @include hpct100();
    @media (min-width: 768px) {
        width: 768px;
        margin: 0 auto;
    }
}
$icon-arrow: "5_back.png";
$icon-address: "5_address.png";
$icon-star: "5_star.png";
$w10: 10px;
$h20: 20px;
@mixin icon($icon-arrow, $w10, $h20) {
    display: inline-block;
    background: url($icon-arrow) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    width: $w10;
    height: $h20;
}
.arrow{
    @include icon($icon-arrow, $w10, $h20);
}
.block{
    position: relative;
}
.bg{
    width: 100%;
    height: 0;
    padding-bottom: 45%;
    background: url(5_background.png) no-repeat;
    background-size: 100% auto;
}
.intro{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%)
}
.thumb{
    float: left;
}
.intro-text{
    float: left;
}